* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfccff;
}

.card {
  max-width: 300px;
  padding: 16px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.455);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-block-end: 5px;
}

.card .data {
  padding: 12px;
}

.card .data h1 {
  font-size: 1.3em;
  line-height: 28px;
  margin-block-end: 20px;
}

.card .data p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: gray;
}
